.header
{
text-align:right;
}
.section
{
  text-align: center;
}

.imagesHeader
{
  width: 22px;
  height:22px;
}
.doodle
{
  width: 600px;
  height:250px;
  display: block;
  /* margin:0 auto; Manera de centrar*/
  margin: 50px auto 25px auto;
  /* margin top:400px; */


}
#specialHeader
{
  width: 35px;
  height:35px;
}

#sectionSerch
{
  display: inline-block;
}
#iconSectionMicro
{
  width:30px;
  height:25px;
}
#form
{
  width:650px;
  height:25px;
}
