header
{
  display:flex;
  justify-content:flex-end;
}

header a
{
  font-style: courier;
  font-size: 15px;
  text-decoration: none;
  color:gray;
  padding: 5px;
}
header a:hover {
  text-decoration: underline;
}
header img
{
  width: 22px;
  height:22px;
  margin: 1px 0 0 10px;
  /* padding: 3px; */
}

section
{
  margin-top: 120px;
  display:flex;
  align-items: center;
  flex-direction:column;

}
.doodle
{
  width: 600px;
}
.sectionSerch
{
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 7px 10px -4px lightgrey;
  height: 40px;
  display: block;
  margin: 15px auto;
  text-align: left;
  width: 600px;
}
.sectionSerch input {
  display: inline-block;
  border: none;
  font-size: 16px;
  height: 90%;
  /* margin-left: 10px; */
  width: 90%;
}
.sectionSerch input:focus {
  outline: none;
}
.sectionSerch button {
  border: none;
  background-color: none;
  cursor: pointer;
  vertical-align: top;
  margin-top: 5px;
}
.sectionSerch img {
  width: 20px;
}

search-button {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  margin-bottom: 40px;
  font-weight: bold;
  border-radius: 4px;
  color: #4c4b4b;
  padding: 10px 20px;
}
.buttonSerch
{
  background-color: #E9E5E4;
  border: 1px solid transparent;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  color:gray;
  padding: 12px 30px;
  margin: 4px -129px 40px 131px;
}
.buttonSerch:hover {
  color: black;
  border-color: #4c4b4b;
}

footer
{
  display: inline-block;
  font-style: courier;
  font-size: 19px;  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer a
{
  color: black;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.flex
{
  display: flex;
  justify-content:space-between;
}

.right
{
  display: inline-block;
}
.left
{
  display: inline-block;
}
#specialHeader
{
  width: 30px;
  height:30px;
  margin: -5px 0 5px 5px;
}
